# Activer le moteur de réécriture
RewriteEngine On

# --- Option : autoriser ton IP pour voir le site normalement ---
# Remplace 123.456.78.90 par ton IP réelle
RewriteCond %{REMOTE_ADDR} ^123\.456\.78\.90$ [OR]

# --- Si ce n'est pas ton IP, rediriger vers maintenance.html , à commenter une fois que tout est ok---
RewriteCond %{REQUEST_URI} !/maintenance.html$
RewriteRule ^(.*)$ /maintenance.html [R=302,L]

# --- Sécurité : empêcher l'accès direct au fichier .htaccess ---
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>
